/*
Primary: 81941D
Dark1: 1C1E06
Dark2: 2C0047
Purple1: 661D94
Light1: C7E042
Light2: AF33FF
Light3: A3FA95*
Light4: 6648A1
Bright1: ABA319
*/

body {
	margin:0px;
	color:#81941D;
	background-color:#3D4707;
	overflow:hidden;
}
a {
	color:#5E6C15;
	text-decoration:none;
}
#topbar {
	padding-top:40px;
	text-align:center;
	color:#1A1E06;
	background-color:#81941D;
	font-family:Helvetica;
	font-size:20pt;
	height:40px;
}
#topbar a {
	color:#661D94;
}
#stuff {
}
#cphold {
	position:absolute;
	top:50%;
	left:50%;
	height:300px;
	width:620px;
	transform: translate(-50%, -50%);
}
.cp {
	float:left;
	width:300px;
	position:relative;
	background-color: #1C1E06;
	/*padding:10% 0px;*/
	margin: 5px;
}
.loginform {
	width:180px;
	height:190px;
	margin:60px;
}
#errorbox {
	background-color:#ffc0c0;
	color:#c00000;
	height: 14pt;
	padding: 25px;
	width: 50%;
	margin:auto;
	font-size:14pt;
	font-weight:700;
	border-radius:10px;
	border: 2px solid #c00000;
}
#profileicon {
	float:right;
	height:70px;
	margin: -35px 5px 5px 5px;
	width: 70px;
	border-radius:10px;
	background-color: rgba(179,216,141,0);
	background-image: url(./img/profile.png);
	background-size: 70px;
}
#profileicon:hover {
	background-color: rgba(255,255,255,0.5);
}
#profileicon:active {
	background-color: rgba(255,255,255,0.75);
}
#profilemenu {
	visibility:hidden;
	position: relative;
	top: 100%;
	left: -75px;
	padding:10px 0px;
	width:150px;
	background-color:#2C0047;
	text-align:left;
	color:#661D94;
	font-size: 14pt;
	z-index: 100;
}
#profilemenu a {
	display: block;
	font-size: 12pt;
	padding:5px;
	width:100%;
	color:#AF33FF;
}
#profilemenu a:hover {
        background-color:rgba(255,255,255,0.5);
	color:#2C0047;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#room {
	width:75%;
	margin:0px;
	float: right;
	top:20px;
	/*height:625px;*/
	background-color: #1C1E06;
	position: relative;
	overflow: hidden;
}
#textarea {
	padding:5px;
	overflow-y:auto;
	overflow-x:hidden;
	height:75%;
	color:#ABA319;
	margin-bottom:20px;
}
#typearea {
	position: absolute;
	bottom:0px;
	height:40px;
	width:100%;
}
#typearea > * > * {
	float:left;
	display:block;
}
#typing {
	height:40px;
	width:90%;
	background-color:#6648A1;
	border-style: none;
	font-size: 14pt;
	text-indent: 7pt;
	outline-style: none;
	color: #2C0047;
}
#subbut {
	height:40px !important;
	width:10%;
	font-size: 32px;
	font-weight: 700;
	background-color:#661D94;
	border-style:none;
	color: #000000;
}
#chatpicker {
	width:20%;
        margin:0px;
        float: left;
        height:75%;
	top: 20px;
        background-color: #2C0047;
        position: relative;
        overflow: hidden;
}
#chatpicker a {
        display: block;
        font-size: 14pt;
	font-weight:500;
	font-family:Helvetica;
        padding:5px;
        width:100%;
        color:#AF33FF;
	cursor: pointer;
}
#chatpicker a:hover {
        background-color:rgba(255,255,255,0.5);
	color:#2C0047;
}
#settingbox {
	background-color: #1C1E06;
	min-height: 75%;
	width: 50%;
	margin: 20px auto 10px;
	padding: 5%;
}
#settingbox h1 {
	color: #661D94;
}
hr {
	border-color: #81941D;
}
#settingbox ul li form {
	display:inline-block;
}
.grayout {
	position: absolute;
	right: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
	z-index: 200;
	height: 100%;
	width: 100%;
	visibility: hidden;
}
.cntscr {
	position: absolute;
	right: 25%;
	top: 25%;
	z-index: 201;
	height: 50%;
	width: 50%;
	visibility: hidden;
	background-color:#1C1E06;
	padding: 10px;
}
.cntscrform {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 67%
}
.closebutton {
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	background-color: #AF33FF;
	color:#2C0047;
	font-size: 32px;
	background-image: url("./img/X.png");
}
h3 {
	color: #661D94;
	font-size: 18pt;
}
.inlineform {
	display: inline;
}
::placeholder {
	color: #2C0047;
	opacity: 1;
	font-weight:700;
}
::selection {
	background-color: #AF33FF;
	color:#2C0047;
}
::-moz-selection {
        background-color: #AF33FF;
        color:#2C0047;
}
#username {
	position:absolute;
}
::-webkit-scrollbar { 
    display: none; 
}
