body {
	margin:0px;
	color:#81941D;
	background-color:#1A1E06;
}
a {
	color:#5E6C15;
	text-decoration:none;
}
#topbar {
	padding-top:40px;
	text-align:center;
	color:#1A1E06;
	background-color:#81941D;
	font-family:Helvetica;
	font-size:20pt;
	height:40px;
}
#topbar a {
	color:#40490F;
}
#stuff {
	padding:20px;
}
#cphold {
	position:absolute;
	top:50%;
	left:50%;
	height:300px;
	width:620px;
	transform: translate(-50%, -50%);
}
.cp {
	float:left;
	width:300px;
	position:relative;
	background-color: #0E0F03;
	/*padding:10% 0px;*/
	margin: 5px;
}
.loginform {
	width:180px;
	height:190px;
	margin:60px;
}
#errorbox {
	background-color:#ffc0c0;
	color:#c00000;
	height: 14pt;
	padding: 25px;
	width: 50%;
	margin:auto;
	font-size:14pt;
	font-weight:700;
	border-radius:10px;
	border: 2px solid #c00000;
}
#profileicon {
	float:right;
	height:70px;
	margin: -35px 5px 5px 5px;
	width: 70px;
	border-radius:10px;
	background-color: rgba(179,216,141,0);
	background-image: url(./img/profile.png);
	background-size: 70px;
}
#profileicon:hover {
	background-color: rgba(255,255,255,0.5);
}
#profileicon:active {
	background-color: rgba(255,255,255,0.75);
}
#profilemenu {
	visibility:hidden;
	position: relative;
	top: 100%;
	left: -75px;
	padding:10px 0px;
	width:150px;
	background-color:#0E0F03;
	text-align:left;
	color:#5E6C15;
	font-size: 14pt;
}
#profilemenu a {
	display: block;
	font-size: 12pt;
	padding:5px;
	width:140px;
}
#profilemenu a:hover {
        background-color:rgba(255,255,255,0.5);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
